<div id="filters">
    <div>Afficher uniquement : 
    <ul>
    {% for id, tag in app.config.tags %}
        <li><a href="{{ url('index', { 'filter': id }) }}#photos">{{ tag }}</a></li>
    {% endfor %}
    </ul>
    </div>
</div>
