<div id="filters">
    <div>Afficher : 
    <ul>
    <li><a href="{{ url('index') }}#photos">Tout</a></li>
    {% for id, tag in app.config.tags %}
        <li><a href="{{ url('index', { 'filter': id }) }}#photos">{{ tag }}</a></li>
    {% endfor %}
    </ul>
    </div>
</div>
