<div id="filters">
    <div>Afficher : 
    <ul>
    {% set filter = app.request.query.get('filter') %}
    <li class="{% if not filter %}current{% endif %}"><a href="{{ url('index') }}#photos">Tout</a></li>
    {% for id, tag in app.config.tags %}
        <li class="{% if filter == id %}current{% endif %}">
            <a href="{{ url('index', { 'filter': id }) }}#photos">{{ tag }}</a>
        </li>
    {% endfor %}
    </ul>
    </div>
</div>
