#gallery {
  display: flex;
  flex-wrap: wrap;

  .item {
    padding: 1em;
    max-width: 220px;

    .image {
      position: relative;
      color: #FFCC00;
      &:hover { color: #FF9900; }

      .favorite {
        position: absolute;
        top: .5em;
        right: .5em;
      }

      .crop {
        position: absolute;
        bottom: .5em;
        left: .5em;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border-radius: .5em;
        padding: .2em .4em;

        &:hover {
          background-color: #000;
        }
      }
    }

  }

}
