#gallery {
  display: flex;
  flex-wrap: wrap;

  .item {
    padding: 1em;
    max-width: 220px;

    .image {
      position: relative;
      color: #FFCC00;
      &:hover { color: #FF9900; }

      .favorite {
        position: absolute;
        top: .5em;
        right: .5em;
      }
    }

  }

}

div[id$='crop_algorithm'] {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 500px;

  .thumbnail_choice {
    padding-right: 1em;

    img {
      width: 130px;
    }

    input[type='radio'] {
      height: 100%;
      vertical-align: middle;

      &:checked+img {
        width: 190px;
        border: 4px solid grey;
        box-shadow: 0 1px 5px rgba(0,0,0,.6);
      }
    }
  }
}

div[id$='date_taken'] {
  .form-control {
    width: inherit;
    display: inline;
    margin: .5em;
  }
}

#footer {
  display: none;
}
