#gallery {
  display: flex;
  flex-wrap: wrap;

  .item {
    padding: 1em;

    .image {
      position: relative;
      color: #FFCC00;
      &:hover { color: #FF9900; }

      .favorite {
        position: absolute;
        top: .5em;
        right: .5em;
      }
    }

  }

}
