#footer {
  position: relative;
  background: 
    linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255, 0.3)), 
    url(../images/pattern.jpg);
  padding: 2em;

  #warning {
    margin: 0 auto;
    font-family: PT Sans, sans-serif;
    width: 50%;
    padding: 1em;
    background: #fff;
  }
}
