$small-devices: "(max-width: 767px)";

#footer {
  position: relative;
  background: 
    linear-gradient(rgba(255,255,255, 0.3), rgba(255,255,255, 0.3)), 
    url(../images/pattern.jpg);
  padding: 2em;

  #warning {
    margin: 0 auto;
    font-family: PT Sans, sans-serif;
    width: 80%;
    max-width: 1000px;
    padding: 1em;
    background: #fff;

    @media #{$small-devices} {
      width: 100%;
      font-size: 1.4em;
    }
  }
}
