@import "variables";

#filters {
  display: flex;
  flex-grow: 1;
  padding: 1.5em;
  background: darken(#F9A674, 20%);

  @media #{$small-devices} {
    flex-direction: column;;
  }

  div {
    display: flex;
    flex-grow: 1;
    align-items: baseline;

    color: #fff;
    font-size: 1.1em;
    font-family: Lora, serif;

    @media #{$small-devices} {
      flex-direction: column;;
      width: 100%;
      margin-bottom: 1.5em;
    }
  }

  ul {
    display: flex;
    align-items: center;
    padding-left: 1em;
    font-family: PT Sans, sans-serif;

    @media #{$small-devices} {
      flex-direction: column;
      width: 90%;
      padding-left: 0;
    }

    li {
      display: inline;
      background: darken(#F9A674, 15%);
      &.current {
        background: darken(#F9A674, 0%);
      }
      border-radius: .5em;
      padding: .5em 1em;
      margin: .5em;
      @media #{$small-devices} {
        padding: .5em;
        margin: .5em 0;
        width: 100%;
      }
      a {
        color: #fff;
      }
    }

    &.months {
      display: none;
    }
  }
}
