@import "variables";

#filter-bar {
  display: flex;
  padding: 1.5em;
  max-height: 6em;
  background: darken(#F9A674, 20%);
  color: #fff;
  a { color: #fff; }
  font-size: 1.1em;
  font-family: Lora, serif;
}

.filters {
  flex-grow: 1;
  display: flex;
  align-items: baseline;

  ul {
    display: flex;
    font-family: PT Sans, sans-serif;
    padding-left: 0;

    li {
      display: flex;
      border-radius: .5em;
      padding: .5em 1em;
      margin: .5em;
      background: darken(#F9A674, 15%);
      &.current { background: darken(#F9A674, 0%); }
      &:hover {  background: lighten(#F9A674, 5%); }

      &.sub-filter-toggle {
        display: flex;
        flex-direction: column;
        align-self: baseline;
        padding: 0;
        text-align: center;

        span {
          padding: .5em 1em;
        }

        &.current {
         background: darken(#F9A674, 0%);
        }
      }
    }

    // Submenus are hidden by default
    ul.sub-filters { 
      display: none; 

      &.current {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        li { 
          margin: 0; 
          padding: 0;
          border-bottom: 1px solid #F9A674;
          border-radius: 0;
          justify-content: center;

          a { padding: .4em; }
        }
      }
    }
  }
}
