@import "variables";

#filter-bar {
  display: flex;
  padding: 1.5em;
  max-height: 6em;
  background: darken(#F9A674, 20%);
  color: #fff;
  a { color: #fff; }
  font-size: 1.1em;
  font-family: Lora, serif;

  #month-filters {
   justify-content: flex-end;
  }
}

.filters {
  flex-grow: 1;
  display: flex;
  align-items: baseline;

  ul {
    display: flex;
    font-family: PT Sans, sans-serif;
    padding-left: 0;

    li {
      display: flex;
      border-radius: .5em;
      padding: .5em 1em;
      margin: .5em;
      background: darken(#F9A674, 15%);
      &.current { background: darken(#F9A674, 0%); }
      &:hover {  background: lighten(#F9A674, 5%); }
      &.separator { 
        background: inherit;
        padding: .5em 0;
      }

      span.glyphicon-remove {
        padding-left: .5em;
        font-size: 0.8em;
        line-height: 1em;
        color: #e37b4d;
      }

      &.sub-filter-toggle {
        display: flex;
        flex-direction: column;
        align-self: baseline;
        padding: 0;
        text-align: center;
        cursor: pointer;

        span {
          padding: .5em 1em;
        }

        &:hover {
          text-decoration: underline;
        }

        &.current {
         background: darken(#F9A674, 0%);
        }
      }
    }

    // Submenus are hidden by default
    ul.sub-filters { 
      display: none; 

      &.current {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        li { 
          margin: 0; 
          padding: 0;
          border-bottom: 1px solid #F9A674;
          border-radius: 0;
          justify-content: center;

          a { padding: .4em; }
        }
      }
    }
  }
}

@media #{$small-devices} {
  #filter-bar {
    flex-direction: column;
    max-height: none;
  }

  .filters {
    flex-direction: column;
    ul {
      flex-direction: column;
      width: 100%;
      li {
        margin-left: 0;
        width: 100%;
        &.sub-filter-toggle {
          text-align: left;
        }

        &.separator { display: none; }

        ul.sub-filters.current li {
          justify-content: flex-start;
          padding-left: .5em;
        }
      }
    }
  }
}
