@import "variables";

#photos {
  padding: 3em;
  min-height: 80vh;

  @media #{$small-devices} {
    padding: 0;

    .container {
      padding: 0;
    }
  }

  h1 {
    text-align: center;
    font-family: PT Sans, sans-serif;
    @media #{$small-devices} {
      padding: .5em 0;
      font-size: 2em;
    }
    a {
      font-size: .7em;
      padding: 0 1em;
      vertical-align: 20%;
      color: #DF622C;
      @media #{$small-devices} {
        padding: 0;
      }
      &:hover {
        color: lighten(#DF622C, 20%);
        text-decoration: none;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    a {
      text-transform: uppercase;
      font-size: .8em;
      color: grey;
      padding: 1em;

      span.arrow {
        color: #DF622C;
      }

      &:hover {
        text-decoration: none;
        background: #FFBF92;
        border-radius: .5em;
        color: black;
      }
    }
  }

  #load {
    margin: 2em auto 2em;
    display: block;
    background: #DF622C;
    color: #fff;
    padding: 1em;
    font-family: Lora, serif;
    font-size: 1.3em;
    border: none;
    border-radius: .5em;
    &:hover {
      background: saturate(#DF622C, 15%);
    }
  }

  #fullpage-photo {
    display: block;
    padding: 1em;
    margin: 0 auto;
    max-width: 100%;
    max-height: 70vh;
  }
}

#gallery {
  .image, .grid-sizer {
    float: left;
    width: 20%;
    padding: 1em;

    @media #{$small-devices} {
      width: 90%;
      margin-left: 5%;
    }


    &.favorite {
      width: 40%;
      @media #{$small-devices} {
        width: 100%;
        margin: 0;
        padding: 1em 0;
      }
    }

    .counter {
       position: absolute;
       bottom: 1.5em;
       right: 1.5em;
       background-color: rgba(1,1,1,.2);
       border: 1px solid rgba(1,1,1,.2);
       color: #ddd;
       padding: .5em;
       border-radius: .5em;
       &:hover {
          background: #fff;
          color: #222;
          text-decoration: none;
          border: 1px solid #ddd;
       }
    }

    img {
      background-color: #fff;
      box-shadow: 0 1px 5px rgba(0,0,0,.3);
      transition: all .2s ease-out;
      width:100%;
      height: auto;
    }
    &:hover, &:focus {
      img {
        filter: brightness(1.1);
        box-shadow: 0 10px 10px rgba(0,0,0,.2);
        transform: rotate(1deg) scale(1.05);
      }
    }
  }
}

.pswp__caption {
  a {
    color: #fff;
    font-weight: bold;
  }
}
.pswp__caption {
  .pswp__caption__center {
    max-width: 800px;
  } 
}
