#home {
  height: 100vh;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg.jpg) no-repeat center fixed; 
  background-size: cover; /* version standardisée */

  .container {
    margin-top: 50vh;
    padding: 2em;
    border-radius: .3em;
    text-align: center;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    font-family: PT Sans, sans-serif;
    h1 {
      text-transform: uppercase;
      font-size: 7em;
      font-weight: 700;
      line-height: 1.1em;
    }
    h2 {
      font-family: Lora, serif;
      font-style: italic;
      font-weight: 400;
      font-size: 2.7em;
      display: inline-block;
      position: relative;
      mix-blend-mode: overlay;
    }

    a[data-scroll] {
      font-size: 3em;
      color: #fff;
      display: block;
      color: #A39B90;
      &:hover {
        color: #fff;
      }
    }
  }
}
