{% extends "base.html" %}

{% block content %}

    <section id="photo">
        <div class="container">
            <img src="{{ photo.url }}" alt="{{ photo.filename }}" />
        </div>
    </section>

    <section id="footer">
        <p id="warning">Comme ses parents, {{ app.config.kid.name }} n’aime pas trop trop les réseaux sociaux. C’est pourquoi nous vous invitons à imprimer et échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur les site marchands (Facebook, Twitter, Google+ et autre). Merci pour {{ app.config.kid.name }} !</p>
    </section>
{% endblock %}
