<!doctype html>
<html class="no-js" lang="">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block title %}{{ app.config.kid.name }}{% endblock %}</title>
            <meta name="description" content="">
            <meta name="robots" content="noindex,nofollow">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="{{ app.config.web_dir }}apple-touch-icon.png" rel="apple-touch-icon" >
            <link href="{{ url('rss.comment') }}" rel="alternate" type="application/atom+xml" title="Flux RSS - {{ app.config.kid.name }}" />

            {% block css %}
                <link href="{{ app.config.web_dir }}css/bootstrap/bootstrap.min.css" rel="stylesheet" >
                <link href="{{ app.config.web_dir }}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
                <link href="{{ app.config.web_dir }}css/print.css" media="print" rel="stylesheet" type="text/css" />
                <!--[if IE]>
                    <link href="{{ app.config.web_dir }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
                <![endif]-->
                <link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Lora:400italic' rel='stylesheet' type='text/css'>

                <link href="{{ app.config.web_dir }}css/photoswipe/photoswipe.css" rel="stylesheet" type='text/css'>
                <link href="{{ app.config.web_dir }}css/photoswipe/default-skin/default-skin.css" rel="stylesheet" type='text/css'>
            {% endblock %}

            {% block js %}
                <!--[if lt IE 9]>
                    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                    <script>window.html5 || document.write('<script src="{{ app.config.web_dir }}js/vendor/html5shiv.js"><\/script>')</script>
                <![endif]-->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="{{ app.config.web_dir }}js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
                <script src="{{ app.config.web_dir }}js/vendor/photoswipe.min.js"></script>
                <script src="{{ app.config.web_dir }}js/vendor/photoswipe-ui-default.min.js"></script>
                <script src="{{ app.config.web_dir }}js/vendor/fittext.js"></script>
                <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
                <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
            {% endblock %}
        {% endblock %}
    </head>
    <body id="{% block id %}{% endblock %}">
        {% block content %}{% endblock %}

        {% block footer_js %}
            <script src="{{ app.config.web_dir }}js/bootstrap/bootstrap.min.js"></script>
            <script src="{{ app.config.web_dir }}js/vendor/smooth-scroll.min.js"></script>
        {% endblock %}
    </body>
</html>
