@charset "UTF-8";
#footer {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/pattern.jpg);
  padding: 2em;
}
#footer #warning {
  margin: 0 auto;
  font-family: PT Sans, sans-serif;
  width: 80%;
  max-width: 1000px;
  padding: 1em;
  background: #fff;
}
@media (max-width: 767px) {
  #footer #warning {
    width: 100%;
    font-size: 1.4em;
  }
}

#home {
  height: 100vh;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg0.jpg) no-repeat center fixed;
  background-size: cover;
  /* version standardisée */
}
#home .container {
  margin-top: 50vh;
  padding: 2em;
  border-radius: .3em;
  text-align: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: PT Sans, sans-serif;
}
#home .container h1 {
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 700;
  line-height: 1.1em;
}
#home .container h2 {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.7em;
  display: inline-block;
  position: relative;
}
#home .container a[data-scroll] {
  font-size: 3em;
  color: #fff;
  display: block;
  color: #F9A674;
}
#home .container a[data-scroll]:hover {
  color: #DF622C;
}

#photos {
  padding: 3em;
  min-height: 80vh;
}
@media (max-width: 767px) {
  #photos {
    padding: 0;
  }
  #photos .container {
    padding: 0;
  }
}
#photos h1 {
  text-align: center;
  font-family: PT Sans, sans-serif;
}
@media (max-width: 767px) {
  #photos h1 {
    padding: .5em 0;
  }
}
#photos h1::before, #photos h1::after {
  font-size: .7em;
  padding: 0 1em;
  vertical-align: 20%;
  content: "◀ ";
  color: #DF622C;
}
@media (max-width: 767px) {
  #photos h1::before, #photos h1::after {
    padding: 0;
  }
}
#photos h1::after {
  content: " ▶";
}
#photos #load {
  margin: 2em auto 2em;
  display: block;
  background: #DF622C;
  color: #fff;
  padding: 1em;
  font-family: Lora, serif;
  font-size: 1.3em;
  border: none;
  border-radius: .5em;
}
#photos #load:hover {
  background: #f15b1a;
}
#photos #fullpage-photo {
  display: block;
  padding: 1em;
  margin: 0 auto;
  max-width: 100%;
  max-height: 70vh;
}

#gallery .image, #gallery .grid-sizer {
  float: left;
  width: 20%;
  padding: 1em;
}
@media (max-width: 767px) {
  #gallery .image, #gallery .grid-sizer {
    width: 90%;
    margin-left: 5%;
  }
}
#gallery .image.favorite, #gallery .grid-sizer.favorite {
  width: 40%;
}
@media (max-width: 767px) {
  #gallery .image.favorite, #gallery .grid-sizer.favorite {
    width: 100%;
    margin: 0;
    padding: 1em 0;
  }
}
#gallery .image .counter, #gallery .grid-sizer .counter {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  background-color: rgba(1, 1, 1, 0.2);
  border: 1px solid rgba(1, 1, 1, 0.2);
  color: #ddd;
  padding: .5em;
  border-radius: .5em;
}
#gallery .image .counter:hover, #gallery .grid-sizer .counter:hover {
  background: #fff;
  color: #222;
  text-decoration: none;
  border: 1px solid #ddd;
}
#gallery .image img, #gallery .grid-sizer img {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-out;
  width: 100%;
  height: auto;
}
#gallery .image:hover img, #gallery .image:focus img, #gallery .grid-sizer:hover img, #gallery .grid-sizer:focus img {
  filter: brightness(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(1deg) scale(1.05);
}

.pswp__caption a {
  color: #fff;
  font-weight: bold;
}

#photo h1, #photo h2 {
  text-align: center;
  font-family: PT Sans, sans-serif;
  max-width: 90%;
}
#photo h1 a, #photo h2 a {
  font-size: .7em;
  padding: 0 1em;
  vertical-align: 20%;
  content: "◀ ";
  color: #F9A674;
}
#photo h1 a:hover, #photo h2 a:hover {
  color: #DF622C;
  text-decoration: none;
}
#photo img {
  display: block;
  padding: 0;
  margin: 1.5em auto;
  max-width: 800px;
  max-height: 70vh;
}
@media (max-width: 767px) {
  #photo img {
    width: 100%;
    height: auto;
    max-height: inherit;
  }
}
#photo #comments {
  max-width: 800px;
  margin: 1.5em auto;
  padding: 0;
}
#photo #comments li {
  background: #FDE6D8;
  list-style-type: none;
  border-bottom: 1px solid #F9A674;
  padding: 1em;
  margin-top: .5em;
}
#photo #comments li .author {
  font-weight: bold;
  font-size: 1.1em;
  color: #3e4549;
}
#photo form {
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #photo form {
    margin: .5em;
  }
}
#photo form label {
  float: left;
  width: 25%;
  margin: 4px 0 5px 0;
}
@media (max-width: 767px) {
  #photo form label {
    width: 100%;
    margin: .5em;
  }
}
#photo form input[type="text"],
#photo form textarea {
  display: block;
  width: 75%;
  padding: .5em;
  margin: 1.5em;
  border: 1px solid #ddd;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  #photo form input[type="text"],
  #photo form textarea {
    width: 90%;
    margin: .5em auto;
  }
}
#photo form textarea {
  height: 150px;
}
#photo form input:focus,
#photo form textarea:focus {
  border: 1px solid #DF622C;
  background: #FDE6D8;
}
#photo form button[type="submit"] {
  display: block;
  margin-bottom: 1.5em;
  background: #DF622C;
  border: 1px solid #F9A674;
}
@media (max-width: 767px) {
  #photo form button[type="submit"] {
    width: 90%;
    margin: .5em auto;
  }
}
#photo #navigation {
  max-width: 800px;
  margin: 1em auto;
}
@media (max-width: 767px) {
  #photo #navigation {
    width: 90%;
    margin: 2.5em auto;
  }
}
#photo #navigation a {
  color: #7F7F81;
  border-bottom: 1px solid #82B4BF;
}
#photo #navigation a:hover {
  text-decoration: none;
  color: #7F7F81;
  border-bottom: 1px solid #7F7F81;
}
