@charset "UTF-8";
#footer {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/pattern.jpg);
  padding: 2em;
}
#footer #warning {
  margin: 0 auto;
  font-family: PT Sans, sans-serif;
  width: 80%;
  max-width: 1000px;
  padding: 1em;
  background: #fff;
}

#home {
  height: 100vh;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg.jpg) no-repeat center fixed;
  background-size: cover;
  /* version standardisée */
}
#home .container {
  margin-top: 50vh;
  padding: 2em;
  border-radius: .3em;
  text-align: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: PT Sans, sans-serif;
}
#home .container h1 {
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 700;
  line-height: 1.1em;
}
#home .container h2 {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.7em;
  display: inline-block;
  position: relative;
  mix-blend-mode: overlay;
}
#home .container a[data-scroll] {
  font-size: 3em;
  color: #fff;
  display: block;
  color: #F9A674;
}
#home .container a[data-scroll]:hover {
  color: #DF622C;
}

#photos {
  padding: 3em;
  min-height: 80vh;
}
#photos h1 {
  text-align: center;
  font-family: PT Sans, sans-serif;
}
#photos h1::before, #photos h1::after {
  font-size: .7em;
  padding: 0 1em;
  vertical-align: 20%;
  content: "◀ ";
  color: #DF622C;
}
#photos h1::after {
  content: " ▶";
}
#photos #fullpage-photo {
  display: block;
  padding: 1em;
  margin: 0 auto;
  max-width: 100%;
  max-height: 70vh;
}

#gallery .image, #gallery .grid-sizer {
  float: left;
  width: 20%;
  padding: 1em;
}
#gallery .image.favorite, #gallery .grid-sizer.favorite {
  width: 40%;
}
#gallery .image img, #gallery .grid-sizer img {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-out;
  width: 100%;
  height: auto;
}
#gallery .image:hover img, #gallery .image:focus img, #gallery .grid-sizer:hover img, #gallery .grid-sizer:focus img {
  filter: brightness(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(1deg) scale(1.05);
}
