@charset "UTF-8";
.warning {
  margin: 2em auto 2em;
  padding: 1em;
  font-family: Lora, serif;
  font-size: 1.3em;
  border-radius: .5em;
  background: #E7E1D1;
  text-align: center;
  font-style: italic;
}

.right {
  float: right;
  text-align: right;
}

#footer {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/pattern.jpg);
  padding: 2em;
}
#footer #warning {
  margin: 0 auto;
  font-family: PT Sans, sans-serif;
  width: 80%;
  max-width: 1000px;
  padding: 1em;
  background: #fff;
}
@media (max-width: 767px) {
  #footer #warning {
    width: 100%;
    font-size: 1.4em;
  }
}

#home {
  height: 100vh;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../images/bg0.jpg) no-repeat center fixed;
  background-size: cover;
  /* version standardisée */
}
#home .container {
  margin-top: 50vh;
  padding: 2em;
  border-radius: .3em;
  text-align: center;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: PT Sans, sans-serif;
}
#home .container h1 {
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 700;
  line-height: 1.1em;
}
#home .container h2 {
  font-family: Lora, serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.7em;
  display: inline-block;
  position: relative;
}
#home .container a[data-scroll] {
  font-size: 3em;
  color: #fff;
  display: block;
  color: #F9A674;
}
#home .container a[data-scroll]:hover {
  color: #DF622C;
}

#photos {
  padding: 3em;
  min-height: 80vh;
}
@media (max-width: 767px) {
  #photos {
    padding: 0;
  }
  #photos .container {
    padding: 0;
  }
}
#photos h1 {
  text-align: center;
  font-family: PT Sans, sans-serif;
}
@media (max-width: 767px) {
  #photos h1 {
    padding: .5em 0;
    font-size: 2em;
  }
}
#photos h1 a {
  font-size: .7em;
  padding: 0 1em;
  vertical-align: 20%;
  color: #DF622C;
}
@media (max-width: 767px) {
  #photos h1 a {
    padding: 0;
  }
}
#photos h1 a:hover {
  color: #eca485;
  text-decoration: none;
}
#photos #load {
  margin: 2em auto 2em;
  display: block;
  background: #DF622C;
  color: #fff;
  padding: 1em;
  font-family: Lora, serif;
  font-size: 1.3em;
  border: none;
  border-radius: .5em;
}
#photos #load:hover {
  background: #f15b1a;
}
#photos #fullpage-photo {
  display: block;
  padding: 1em;
  margin: 0 auto;
  max-width: 100%;
  max-height: 70vh;
}

#gallery .image, #gallery .grid-sizer {
  float: left;
  width: 20%;
  padding: 1em;
}
@media (max-width: 767px) {
  #gallery .image, #gallery .grid-sizer {
    width: 90%;
    margin-left: 5%;
  }
}
#gallery .image.favorite, #gallery .grid-sizer.favorite {
  width: 40%;
}
@media (max-width: 767px) {
  #gallery .image.favorite, #gallery .grid-sizer.favorite {
    width: 100%;
    margin: 0;
    padding: 1em 0;
  }
}
#gallery .image .counter, #gallery .grid-sizer .counter {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  background-color: rgba(1, 1, 1, 0.2);
  border: 1px solid rgba(1, 1, 1, 0.2);
  color: #ddd;
  padding: .5em;
  border-radius: .5em;
}
#gallery .image .counter:hover, #gallery .grid-sizer .counter:hover {
  background: #fff;
  color: #222;
  text-decoration: none;
  border: 1px solid #ddd;
}
#gallery .image img, #gallery .grid-sizer img {
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-out;
  width: 100%;
  height: auto;
}
#gallery .image:hover img, #gallery .image:focus img, #gallery .grid-sizer:hover img, #gallery .grid-sizer:focus img {
  filter: brightness(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(1deg) scale(1.05);
}

.pswp__caption a {
  color: #fff;
  font-weight: bold;
}

#filter-bar {
  display: flex;
  padding: 1.5em;
  max-height: 6em;
  background: #f56712;
  color: #fff;
  font-size: 1.1em;
  font-family: Lora, serif;
}
#filter-bar a {
  color: #fff;
}

.filters {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
}
.filters ul {
  display: flex;
  font-family: PT Sans, sans-serif;
  padding-left: 0;
}
.filters ul li {
  display: flex;
  border-radius: .5em;
  padding: .5em 1em;
  margin: .5em;
  background: #f6772b;
}
.filters ul li.current {
  background: #f9a674;
}
.filters ul li:hover {
  background: #fab68c;
}
.filters ul li.separator {
  background: inherit;
  padding: .5em 0;
}
.filters ul li span.glyphicon-remove {
  padding-left: .5em;
  font-size: 0.8em;
  line-height: 1em;
  color: #e37b4d;
}
.filters ul li.sub-filter-toggle {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.filters ul li.sub-filter-toggle span {
  padding: .5em 1em;
}
.filters ul li.sub-filter-toggle:hover {
  text-decoration: underline;
}
.filters ul li.sub-filter-toggle.current {
  background: #f9a674;
}
.filters ul ul.sub-filters {
  display: none;
}
.filters ul ul.sub-filters.current {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.filters ul ul.sub-filters.current li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #F9A674;
  border-radius: 0;
  justify-content: center;
}
.filters ul ul.sub-filters.current li a {
  padding: .4em;
}

@media (max-width: 767px) {
  #filter-bar {
    flex-direction: column;
    max-height: none;
  }

  .filters {
    flex-direction: column;
  }
  .filters ul {
    flex-direction: column;
    width: 100%;
  }
  .filters ul li {
    margin-left: 0;
    width: 100%;
  }
  .filters ul li.sub-filter-toggle {
    text-align: left;
  }
  .filters ul li ul.sub-filters.current li {
    justify-content: flex-start;
    padding-left: .5em;
  }
}
#photo h1, #photo h2, #photo h3 {
  text-align: center;
  font-family: PT Sans, sans-serif;
  max-width: 90%;
}
#photo h1 a, #photo h2 a, #photo h3 a {
  font-size: .7em;
  padding: 0 1em;
  vertical-align: 20%;
  content: "◀ ";
  color: #F9A674;
}
#photo h1 a:hover, #photo h2 a:hover, #photo h3 a:hover {
  color: #DF622C;
  text-decoration: none;
}
#photo h3 {
  margin-top: 2em;
}
#photo img {
  display: block;
  padding: 0;
  margin: 1.5em auto;
  max-width: 800px;
  max-height: 70vh;
}
@media (max-width: 767px) {
  #photo img {
    width: 100%;
    height: auto;
    max-height: inherit;
  }
}
#photo #comments {
  max-width: 800px;
  margin: 1.5em auto;
  padding: 0;
}
#photo #comments li {
  background: #FDE6D8;
  list-style-type: none;
  border-bottom: 1px solid #F9A674;
  padding: 1em;
  margin-top: .5em;
}
#photo #comments li .author {
  font-weight: bold;
  font-size: 1.1em;
  color: #3e4549;
}
#photo form {
  max-width: 800px;
  margin: 0 auto 3em;
}
@media (max-width: 767px) {
  #photo form {
    margin: .5em;
  }
}
#photo form label {
  margin: .5em;
}
#photo form input[type="text"],
#photo form textarea {
  display: block;
  padding: .5em;
  margin: 0 .5em 3em;
  width: 100%;
  border: 1px solid #ddd;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  #photo form input[type="text"],
  #photo form textarea {
    width: 90%;
    margin: .5em auto;
  }
}
#photo form textarea {
  height: 150px;
}
#photo form input:focus,
#photo form textarea:focus {
  border: 1px solid #DF622C;
  background: #FDE6D8;
}
#photo form button[type="submit"] {
  display: block;
  margin-bottom: 1.5em;
  background: #DF622C;
  border: 1px solid #F9A674;
}
@media (max-width: 767px) {
  #photo form button[type="submit"] {
    width: 90%;
    margin: .5em auto;
  }
}

.navigation {
  background: #eaf3f2;
  margin: 0 auto 3em;
  padding: 1em 3em;
  font-weight: bold;
}
@media (max-width: 767px) {
  .navigation {
    text-align: center;
  }
}
.navigation a {
  color: #7F7F81;
}
.navigation a:hover {
  text-decoration: none;
  color: #7F7F81;
  border-bottom: 1px solid #7F7F81;
}
