debug: false

web_dir: '/'
upload_dir: '/upload/'
tmp_dir: '/tmp/'

database:
  dbname: pamplemousse
  user: root
  password: root
  host: localhost
  driver: 'pdo_mysql'

users:
  admin:
    - ROLE_ADMIN
    - 5FZ2Z8QIkA7UTZ4BYkoC+GsReLf569mSKDsfods6LYQ8t+a8EW9oaircfMpmaLbPBh4FOBiiFyLfuZmTSUwzZg==

site:
  intro: true
  title: The Happy Family
  baseline: "Joe, Jane and kids"
  footer: Nos enfants sont encore un peu jeunes pour s'afficher sur les réseaux sociaux. C’est pourquoi nous vous invitons à échanger les photos présentes sur ce site par voie privée (emails, cartes postales, pigeons voyageurs) mais de bien vouloir éviter de les diffuser sur des site marchands (Facebook, Twitter, Google+ et autre). Merci pour eux !

kids:
  - name: Joe
    pregnancydate: 18-05-2015
    birthdate: 04-03-2016
  - name: Jane
    pregnancydate: 01-06-2018
    birthdate: 

tags:
  evolution: Mois après mois

thumbnails:
  dir: '/thumbnail/'
  size:
    - 200x200
    - 800x800
    - 1200x

