debug: false

web_dir: '/'
upload_dir: '/upload/'
tmp_dir: '/tmp/'

kid:
  name: Salamander
  baseline: "Au pays des gens heureux"
  pregnancydate: 10-06-2018
  birthdate: 15-08-2018

tags:
  evolution: Mois après mois
  bestof: Favoris

database:
  dbname: pamplemousse
  user: root
  password: root
  host: localhost
  driver: 'pdo_mysql'

thumbnails:
  dir: '/thumbnail/'
  size:
    - 200x200
    - 800x800
    - 1200x

users:
  admin:
    - ROLE_ADMIN
    - 5FZ2Z8QIkA7UTZ4BYkoC+GsReLf569mSKDsfods6LYQ8t+a8EW9oaircfMpmaLbPBh4FOBiiFyLfuZmTSUwzZg==
